@model StoreFrontLab.UI.MVC.Models.RegisterViewModel
@{
    /**/

    ViewBag.Title = "Register";
}



@using (Html.BeginForm("Register", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    <div class="custom-register col-lg-8 col-md-10 mx-auto">
        @Html.AntiForgeryToken()
        @Html.ValidationSummary("", new { @class = "text-danger" })

        <div class="row login-format justify-content-center text-input-format">
            <div class="col-md-8 col-md-offset-4 text-center">
                @Html.TextBoxFor(m => m.Email, new { @class = "form-control", placeholder = "Email" })
            </div>
        </div>
        <div class="row login-format justify-content-center text-input-format">
            <div class="col-md-8 col-md-offset-4 text-center">
                @Html.PasswordFor(m => m.Password, new { @class = "form-control", placeholder = "Password" })
            </div>
        </div>
        <div class="row login-format justify-content-center text-input-format">
            <div class="col-md-8 col-md-offset-4 text-center">
                @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control", placeholder = "Confirm Password" })
            </div>
        </div>
        <div class="row login-format justify-content-center text-input-format">
            <div class="col-md-4 col-md-offset-4 text-center">
                <input type="submit" class="btn btn btn-outline-success text-center button-format" value="Register" />
            </div>
        </div>
        @*<div class="row login-format justify-content-center text-input-format">
            <div class="col-md-4 col-md-offset-4 text-center">
                @Html.LabelFor(model => model.VendorID, "Vendor", htmlAttributes: new { @class = "control-label" })
                @Html.DropDownList("VendorID", null, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.VendorID, "", new { @class = "text-danger" })
            </div>
        </div>*@


    </div>





    @*<div class="form-group">

            <div class="col-md-10">

            </div>
        </div>
        <div class="form-group">

            <div class="col-md-10">

            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(m => m.ConfirmPassword, new { @class = "col-md-2 control-label" })
            <div class="col-md-10">
                @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control" })
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">

            </div>
        </div>*@
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
